.box{
border: 2px solid;
height:auto;
width: 750px;
}
.box1{
    border: 2px solid;
    height:auto;
    width:750px;
    position: center;
    }
    pre{
        font-family:serif ;
        font-style: Times New Roman;
    }
    h1{
        text-align: center;
    }